<form class="example-form" [formGroup]="signinForm">
  <h2>Sign in</h2>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="emailFormControl" placeholder="Ex. pat@example.com" name="email" #email/> 

    <mat-error *appErrorDirective="'emailFormControl'">
      Email is <strong>required</strong>
    </mat-error>

  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="passwordFormControl" placeholder="Ex. VeryHardPassword!1" name="password" #password/>


    <mat-error *appErrorDirective="'passwordFormControl'">
      Password is <strong>required</strong>
    </mat-error>

  </mat-form-field>

  <div class="buttons">
    <button mat-raised-button color="primary" class="signin-button" (click)="signIn()">Sign in</button>
    <button mat-stroked-button color="primary" class="registaration-button" (click)="registrationRedirect()">Registration</button>
  </div>
</form>