<!-- <div class="listContainer">
    <div class="headerBlock">
        <app-header></app-header>
    </div>
    <div class="listBlock">
        <app-list></app-list>
    </div>

    <div>
        <app-test>1</app-test>
    </div>
    
</div>
 -->

<div class="wrapper">
    <button mat-fab color="primary" class="addButton" (click)="addNewItem()">
        <div class="plus">&#43;</div>
    </button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="select">
            <!-- <th mat-header-cell *matHeaderCellDef>
            Active
        </th> -->
            <td mat-cell *matCellDef="let item" class="itemCheckbox">
                <mat-checkbox [checked]="item.isChecked" (change)="getChecked(item)"></mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <!-- <th mat-header-cell *matHeaderCellDef>name</th> -->
            <td mat-cell *matCellDef="let item" class="itemDescription" [ngClass]="{'checked-state': item.isChecked}">
                <input matInput placeholder="Name" [(ngModel)]="item.name" placeholder="Enter description...">
            </td>
        </ng-container>

        <ng-container matColumnDef="time">
            <td mat-cell *matCellDef="let item" class="itemTime">{{item.creationTime}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <td mat-cell *matCellDef="let item" class="remove-cell">
                <button (click)="removeItem(item)" class="remove-button">x</button>
                <button (click)="updateItem(item)" class="edit-button">save</button> 
            </td>
        </ng-container>

        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>